* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: flex;
}
li {
    padding: 0 20px;
}

header {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.logo {
    font-size: 35px;
}
